.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.friends .friends__title,
.friends .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}
